<header>
  <div class="card">
    <div class="card-content container">
      <div class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="{{ info.avatar_url }}" alt="Placeholder image" />
          </figure>
        </div>
        <div class="media-content">
          <h1 class="title is-4">{{ info.name }}</h1>
          <h3 class="subtitle is-6">
            <a href="{{ info.html_url }}" target="_blank">{{ info.login }}</a>
          </h3>
        </div>
      </div>

      <div class="content">
        <p>{{ info.bio }}</p>
        <p>{{ info.location }}</p>
      </div>
    </div>
  </div>
</header>
