<section class="section container">
  <h1 class="title">
    Outros Projetos
  </h1>

  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <h1 class="title is-4">Lada-app</h1>
          <h2 class="subtitle is-6">
            App para consulta e comparação de previsão do tempo
          </h2>
        </div>
      </div>

      <div class="content">
        <div class="container">
          <h1 class="title"><a class="button is-primary">lada-app</a></h1>

          <div class="tags ">
            <span class="tag is-front">HTML</span>
            <span class="tag is-front">SCSS</span>
            <span class="tag is-front">TypeScript</span>
            <span class="tag is-front">Angular</span>
            <span class="tag is-front">Firebase Hosting</span>
            <span class="tag is-front">RxJS</span>
            <span class="tag is-front">IndexedDB</span>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <h1 class="title"><a class="button is-primary">lada-api</a></h1>

          <div class="tags ">
            <span class="tag is-back">Python</span>
            <span class="tag is-back">MongoDB</span>
            <span class="tag is-back">Flask-RESTful</span>
            <span class="tag is-back">Heroku</span>
            <span class="tag is-mobile">Beautiful Soup</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <h1 class="title is-4">especialista-bipolar</h1>
          <h2 class="subtitle is-6">
            Uso de sistema especialista para teste de episódios maníacos
          </h2>
        </div>
      </div>

      <div class="content">
        <div class="container">
          <h1 class="title"><a class="button is-primary">front-end</a></h1>

          <div class="tags ">
            <span class="tag is-front">HTML</span>
            <span class="tag is-front">SCSS</span>
            <span class="tag is-front">JavaScript</span>
            <span class="tag is-front">React</span>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <h1 class="title"><a class="button is-primary">back-end</a></h1>

          <div class="tags ">
            <span class="tag is-back">Python</span>
            <span class="tag is-back">PyKnow</span>
            <span class="tag is-back">Flask-RESTful</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <h1 class="title is-4">santos-dubot</h1>
          <h2 class="subtitle is-6">
            Chatbot para verificar informação de aerodromos, taf e metar no
            telegram
          </h2>
        </div>
      </div>

      <div class="content">
        <div class="container">
          <h1 class="title"><a class="button is-primary">santos-dubot</a></h1>

          <div class="tags ">
            <span class="tag is-back">Java</span>
            <span class="tag is-back">telegram-bot-api</span>
            <span class="tag is-back">db4o</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
