<address>
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <a href="https://github.com/alexNeto" target="_blank" rel="noreferrer" class="button">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
      </div>
      <div class="level-item">
        <a href="https://www.linkedin.com/in/alexneto3/" target="_blank" rel="noreferrer"
           class="button is-info">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</address>
