@charset "utf-8";

@import "~bulma";
@import "~bulma-timeline";

::selection {
  background: #f2be04;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  color: #c29200;
}

.button {
  border-radius: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button:hover {
  box-shadow: 5px 4px 0 0 rgba(0, 0, 0, 0.30);
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.section {
  margin-bottom: 2rem;

  & > .card {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
